* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5rem;
}

$color-primary: #896a54;
$color-secondary: #573d2b;
$color-dark: #000000;
$color-light: #ffffff;
$overlay-dark: rgba(0, 0, 0, 0.5);