



/*****************************************************************************/
/********************************* < Variables *******************************/
$color-primary: #896a54;
$color-secondary: #573d2b;
$color-tertiary: #777;
$color-dark: #000000;
$color-light: #ffffff;
$overlay-dark: rgba(0, 0, 0, 0.5);
/********************************* Variables /> ******************************/
/*****************************************************************************/




/*****************************************************************************/
/********************************* < Generic *********************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}


body {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5rem;
    
    overflow-x: hidden;
}


.removed { display: none; }


.hidden { opacity: 0; }


.transparent { opacity: 0.05; }


.push-left { transform: translateX(-100%); }


.push-right { transform: translateX(100%); }


.hoisted-bar { transform: translateY(-100%); }
/********************************* Generic /> ********************************/
/*****************************************************************************/