

@import 'config';




/*****************************************************************************/
/********************************* < General *********************************/
svg {
    width: 2rem; // Box Model
    height: 2rem;    
    
    fill: $color-light; // Colors and Typography

    cursor: pointer; // Other
}

.time-input { 
    width: 5rem; // Box Model
    
    text-align: center; // Other
}

.title-input { padding: 0 0.5rem; }
/********************************* General /> ********************************/
/*****************************************************************************/




/*****************************************************************************/
/********************************** < Video **********************************/
.visibility-icon {
    position: absolute; // Position
    right: 0;
    top: calc(50% - 1rem);

    background-color: $overlay-dark; // Colors and Typography
}

.iframe-container {

    /* Position */
    position: relative;

    /* Box Model */
    height: 60vw; // linked to #testframe height
    margin: 1.5rem;

    /* Other */
    overflow: hidden;
}


#testframe {
    width: 100%;
    min-height: 60vw;
    /* min-height: 80vw; */ // For portrait view, deprioritizing for dev
}


.iframe-overlay {

    /* Display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    width: 100%;
    min-height: 60vw; // Should be linked to #testframe dimensions

    /* Other */
    pointer-events: none;
    transition: all 0.1s ease-in-out 0s;
}


.timers-container {

    /* Display */
    display: flex;
    justify-content: space-between;
    
    /* Box Model */
    width: 100%;
    height: 2rem;
}


.timer-container {

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Box Model */
    min-height: 2rem;
    * { margin-left: 0.5rem; }

    /* Colors and Typography */
    background-color: $overlay-dark;

    /* Other */
    pointer-events: all;

}


.timer-time {

    /* Display */
    display: block;
    
    /* Box Model */
    margin-right: 0.5rem;
    
    /* Color and Typography */
    color: $color-light;
}


.commands-container {

    /* Display */
    display: flex;
    justify-content: space-between;
    
    /* Box Model */
    width: 100%;
    height: 2rem;
    margin-top: 2rem;

    /* Colors and Typography */
    /* background-color: $overlay-dark; */

    /* Other */

    svg {   // changed from svg to div, remember

        /* Display */
        flex-basis: 1;
        flex-grow: 1;
        flex-shrink: 1;

        /* Box Model */
        //width: 3rem;
        //height: 3rem;
        //padding: 0.5rem;

        /* Colors and Typography */
        background-color: $overlay-dark;

        /* Other */
        pointer-events: all;
    }

}


.stamping-menu {

    display: flex; // Display
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: absolute; // Position
    top: 0;
    left: 100%;
    
    width: 100%; // Box Model
    min-height: 60vw; // Should be linked to #testframe dimensions

    background-color: $overlay-dark; // Colors & Typography

    pointer-events: none;
    * { pointer-events: all; } // Other
    transition: all 0.1s ease-in-out 0s;
}


.add-stamp-icons-container {
    display: flex; // Display
    
    * { margin: 0.5rem; } // Box Model
}
/********************************* Video /> *********************************/
/****************************************************************************/




/****************************************************************************/
/******************************* < Stamp-List *******************************/
.stamp-list-section {
    margin: 1.5rem; // Box Model
}

.control-bar-container {
    position: relative; // Position

    height: 2rem; // Box Model

    background-color: $color-secondary; // Colors & Typography
    color: $color-light;

    overflow: hidden; // Other
}

.control-bar {
    position: absolute; //Position
    
    display: flex; // Display
    align-items: center;

    height: 2rem; // Box Model
    * { margin-left: 0.5rem;}    
}

.secondary-control-bar {    
    top: 2rem; // Position
}

.hoisted-bar {
    transform: translateY(-2rem);
}

.control-icons {
    display: flex; // Display
    align-items: center;

    svg { height: 1.75rem; } // Box Model
}


.list-container {
    padding: 0.25rem; // Box Model
    background-color: $color-primary; // Colors and Typography
}

.timestamp-bar {
    display: flex; // Display
    
    * { margin-right: 0.25rem; } // Box Model
    *:last-child { margin-right: 0; }
    margin-bottom: 0.25rem;
    &:last-child { margin-bottom: 0; }
    
}

//.stamp-time { width: 5rem; }
.stamp-title { width: 100%; }

/******************************* Stamp-List /> ******************************/
/****************************************************************************/