

@import 'config';



#testframe {
    width: 100%;
    min-height: 40vmax;
}

.iframe-container {

    /* Position */
    position: relative;

    /* Box Model */
    margin: 24px;
}

.iframe-overlay {

    /* Display */
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    min-width: 100%;
    min-height: 100%;

    /* Other */
    pointer-events: none;
}

svg {
    height: 2rem;
    fill: white;
}

.timers-container {

    /* Display */
    display: flex;
    justify-content: space-between;
    
    /* Box Model */
    width: 100%;
    height: 2rem;

    * {
        pointer-events: all;
    }
}

.timer-container {

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Box Model */
    min-height: 2rem;
    * { margin-left: 0.5rem; }

    /* Colors and Typography */
    background-color: $overlay-dark;

    .timer-time {
        /* Display */
        display: block;
        /* Box Model */
        margin-right: 0.5rem;
        /* Color and Typography */
        color: white;
    }

}

.commands-container {

    /* Display */
    display: flex;
    justify-content: space-between;
    
    /* Box Model */
    margin-top: 2rem;
    width: 100%;
    height: 2rem;

    /* Colors and Typography */
    /* background-color: $overlay-dark; */

    /* Other */
    * {
        pointer-events: all;
    }

    svg {
        background-color: $overlay-dark;
        height: 2.5rem;
        padding: 0.5rem;
    }
}